<p id="notice"><%= notice %></p>

<h1>Listing Cabs</h1>

<table>
  <thead>
    <tr>
      <th>Driver name</th>
      <th>Taxi number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <td><%= link_to 'Book a cab', new_user_user_location_path(user)%></td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New user', new_user_path %>