<%= form_for(@cab_location) do |f| %>
  <% if @cab_location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cab_location.errors.count, "error") %> prohibited this cab_location from being saved:</h2>

      <ul>
      <% @cab_location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :cab_id %><br>
    <%= f.text_field :cab_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
