<p id="notice"><%= notice %></p>

<h1>Listing Cab Locations</h1>

<table>
  <thead>
    <tr>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Cab</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cab_locations.each do |cab_location| %>
      <tr>
        <td><%= cab_location.longitude %></td>
        <td><%= cab_location.latitude %></td>
        <td><%= cab_location.cab %></td>
        <td><%= link_to 'Show', cab_location %></td>
        <td><%= link_to 'Edit', edit_cab_location_path(cab_location) %></td>
        <td><%= link_to 'Destroy', cab_location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cab location', new_cab_location_path %>
