<p id="notice"><%= notice %></p>

<p>
  <strong>Longitude:</strong>
  <%= @cab_location.longitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @cab_location.latitude %>
</p>

<p>
  <strong>Cab:</strong>
  <%= @cab_location.cab %>
</p>

<%= link_to 'Edit', edit_cab_location_path(@cab_location) %> |
<%= link_to 'Back', cab_locations_path %>
