<h1>Listing UserLocation</h1>

<table>
  <thead>
    <tr>
      <th>Driver name</th>
      <th>Taxi number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @userlocations.map do |user_location| %>
      <tr>
        <td><%= user_location.longitude %></td>
        <td><%= user_location.latitude %></td>
        <td><%= user_location.user.name%></td>
      </tr>
    <% end %>
  </tbody>
</table>
