<%= form_for(@cab) do |f| %>
  <% if @cab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cab.errors.count, "error") %> prohibited this cab from being saved:</h2>

      <ul>
      <% @cab.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :driver_name %><br>
    <%= f.text_field :driver_name %>
  </div>
  <div class="field">
    <%= f.label :taxi_number %><br>
    <%= f.text_field :taxi_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
