<p id="notice"><%= notice %></p>

<p>
  <strong>Driver name:</strong>
  <%= @cab.driver_name %>
</p>

<p>
  <strong>Taxi number:</strong>
  <%= @cab.taxi_number %>
</p>
<p>
	<%= link_to 'Add Cabs Locations', new_cab_cab_location_path(@cab)%>
</p>

<%= link_to 'Edit', edit_cab_path(@cab) %> |
<%= link_to 'Back', cabs_path %>
